@charset "UTF-8";

menu {
  width: 80%;
  margin: auto;
}

menu a {
  text-decoration: none;
  color: var(--branco);
  transition: 1s;
}

menu a:hover {
  font-size: 18px;
  color: var(--azul);
}

menu section {
  margin: 5%;
  padding: 5%;

  text-align: center;

  border: 1px solid var(--azul-muito-claro);
  border-radius: 20px;
}

menu img {
  height: 35px;
}
