@charset "UTF-8";
/* Fonte */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Estilos */
@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");
/* Menus */
@import url("./menu_Index.css");
@import url("./menu_Pages.css");

/* 
    Cores
        branco: #F2F2F2
        azul: #0540F2
        azul-galaxia: #030F26
        azul-claro: #056CF2
        azul-muito-claro: #5E9FF2
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --branco: #f2f2f2;
  --azul: #0540f2;
  --azul-galaxia: #030f26;
  --azul-claro: #056cf2;
  --azul-muito-claro: #5e9ff2;
}

html,
body {
  height: 100vh;
  width: 350px;
  margin: auto;
}

body {
  height: 470px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: start;
  background-color: var(--azul-galaxia);
  color: var(--branco);
}
